<h1>ACP store database</h1>
<h1></h1>
<br>
</br>
 <h2>   KM       OPENTIME     CLOSETIME</h2>
{% for item in items %}
 <h2>   {{item.km}}km      ||   {{item.open_time}}   ||  {{item.close_time}}</h2>
{% endfor %}
