{% extends "main.html" %}

{% block content %}
    <h1>log in page</h1>
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username }}<br>
            {% for error in form.username.errors %}
            <span style="color: blue;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password }}<br>
            {% for error in form.password.errors %}
            <span style="color: blue;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }}<br />
           {{ form.remember_me.label }}</p>
        <br />
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
