<!DOCTYPE html>
<html>
<head>
        {% if title %}
        <title>{{ title }} ACP timer</title>
        {% else %}
        <title>acp timer</title>
        {% endif %}
</head>
    <body>
        <div>
            ACP timer:
            <a href="{{ url_for('index') }}">acppage</a>
            <a href="{{ url_for('login') }}">Log in</a>
            <a href="{{ url_for('register') }}">Register</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
